# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build & output
dist/
build/
.next/
out/
.cache/
.temp/
coverage/
.nyc_output/

# Logs & reports
logs/
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
.pnpm-debug.log*
report.*.json

# Runtime data
pids/
*.pid*
*.seed

# Cache & config
*.tsbuildinfo
.npm/
.eslintcache
.stylelintcache
.node_repl_history
.yarn-integrity
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Env files
.env*
!.env.example